fastapi
uvicorn
pandas
prophet
python-dotenv
langchain
langchain-core
langchain-classic
langchain-community
langchain-openai
langchain-huggingface
chromadb
sentence-transformers
httpx
mysql-connector-python
onnxruntime
gradio
gradio_client
xarray
netcdf4
scipy
requests
numpy
python-multipart
matplotlib
cartopy
scikit-learn